<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--设置标准日志输出-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--这个包的类自动别名-->
    <typeAliases>
        <package name="com.feng.pojo"/>
    </typeAliases>

    <!--映射 Mapper.xml 文件, 或者在 Mapper 类名前加 @Repository
    <mappers>
        <mapper class="com.feng.dao.BookMapper"/>
    </mappers>
-->

</configuration>
